@charset "UTF-8";
@import url("./components/Header/Header.css");
@import url("./components/Footer/Footer.css");
@import url("./components/Home/Home.css");


html {
  font-size: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.7;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.wrapper {
  max-width: 2000px;
  margin: 0 auto;
  padding: 0 ;
}

.content {
  padding: 0 15%;
}